#header-menu1 {
	height: 49px;
	margin-left: 256px;
	margin-right: 117px;
	width: 400px;
	background-color: white;
}

#menu1 {
	margin: 100px auto;
}

#menu1 ul ul {
	display: none;
}

#menu1 ul li:hover > ul {
	display: block;
}

#menu1 ul {
	float: left;
	margin-top: -314px;
	margin-left: 210px;
	padding-left: 0px;
	background: whitesmoke; 
	list-style: none;
	position: relative;
	display: inline-table;
	width: 220px;
}
	
#menu1 ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

#menu1 ul li {
	float: left;
}
	
#menu1 ul li:hover {
	background: white;
}

#menu1 ul li a {
	display: block;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	border: 1px solid lightgrey;
	text-decoration: none;
}		
		
#menu1 ul ul {
	background: transparent;
	width: 235px;
	margin-top: 0px;
	margin-left: 0px;
	text-align: left;
	position: absolute;
}
	
#menu1 ul ul li {
	float: none;  
	position: relative;
}
			
#menu1 ul ul li a {
	padding: 10px 15px;
	border: none;
}	

#menu1 ul ul li a:hover {
	background: silver;
	width: 120px;
}
		
#menu1 ul ul ul {
	position: absolute;
	left: 89%;
	top: 0%;
}

.tab1 a:link, 
.tab1 a:visited,
.tab1 a:active,
.tab2 a:link, 
.tab2 a:visited, 
.tab2 a:active, 
.tab3 a:link, 
.tab3 a:visited,
.tab3 a:active,
.tab4 a:link, 
.tab4 a:visited,
.tab4 a:active,
.tab5 a:link, 
.tab5 a:visited,
.tab5 a:active,
.tab6 a:link, 
.tab6 a:visited,
.tab6 a:active,
.tab7 a:link, 
.tab7 a:visited,
.tab7 a:active,
.tab8 a:link, 
.tab8 a:visited,
.tab8 a:active
 {
	text-decoration: none; 
}

.tab1 a,
.tab2 a
 {
	color: teal; 
}

.tab1 a:hover,
.tab2 a:hover
{
	color: blue;
}

.tab3 a:hover,
.tab4 a:hover,
.tab5 a:hover,
.tab6 a:hover,
.tab7 a:hover,
.tab8 a:hover
{
	background: transparent;
}

.ta{
	float: left;
	margin-left: 40px;
	color: black;
	margin-bottom: 5px;
	font-family: 'arial';
	font-size: 16px;
}

.tab{
	float: left;
	margin-left: 130px;
	color: black;
	margin-bottom: 5px;
	font-family: 'arial';
	font-size: 16px;
}

.tab1{
	float: left;
	margin-top: 5px;
	margin-left: 40px;
	margin-bottom: 10px;
	color: teal;
	font-family: 'arial';
	font-size: 16px;
}

.tab2{
	float: left;
	margin-top: 5px;
	margin-left: 89px;
	color: teal;
	margin-bottom: 10px;
	font-family: 'arial';
	font-size: 16px;
}

.tab3{
	float: left;
	margin-top: 5px;
	margin-left: 415px;
	border-radius: 5px;
	width: 27px;
	height: 27px;
	margin-bottom: 10px;
}

.tab4{
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 25px;
	width: 27px;
	height: 27px;
	margin-bottom: 10px;
}

.tab5{
	float: left;
	margin-top: 5px;
	margin-left: 353px;
	border-radius: 5px;
	width: 27px;
	height: 27px;
	margin-bottom: 10px;
}

.tab6{
	float: left;
	margin-top: 5px;
	margin-left: 242px;
	border-radius: 5px;
	width: 27px;
	height: 27px;
	margin-bottom: 10px;
}

.tab7{
	float: left;
	margin-top: 5px;
	margin-left: 343px;
	border-radius: 5px;
	width: 27px;
	height: 27px;
	margin-bottom: 10px;
}

.tab8{
	float: left;
	margin-top: 5px;
	margin-left: 432px;
	border-radius: 5px;
	width: 27px;
	height: 27px;
	margin-bottom: 10px;
}

.tab9{
	float: left;
	margin-top: 5px;
	margin-left: 405px;
	border-radius: 5px;
	width: 27px;
	height: 27px;
	margin-bottom: 10px;
}

.txt {
	float: left;
	margin-left: 75px;
	margin-top: 30px;
}

.txt1{
	margin-top: 0px;
	margin-left: -72px;
	border: 1px dashed silver;
}

.txt2{
	margin-top: 0px;
	margin-left: -15px;
	margin-right: 80px;
}

.txt3{
	float: left;
	margin-left: -25px;
	margin-top: -20px;
	font-family: 'arial';
}

.txt4 {
	float: left;
	margin-left: 80px;
	margin-top: 30px;
	font-family: 'arial';
}

.txt5 {
	float: left;
	margin-left: -175px;
	margin-top: 55px;
	font-family: 'arial';
	text-align: right;
}

.txt6 {
	float: left;
	margin-left: -100px;
	margin-top: 185px;
	font-family: 'arial';
}

.txt7{
	margin-right: 80px;
}

.txt8 {
	float: left;
	margin-left: -205px;
	margin-top: 235px;
	font-family: 'arial';
}

.txt9 {
	float: left;
	margin-left: -223px;
	margin-top: 235px;
	font-family: 'arial';
}

.isi{
	float: left;
	margin-top: -28px;
	margin-left: 15px;
	color: teal;
	font-family: 'arial';
	font-size: 18px;
}

#contentbox1 {
	float: left;
	width: 690px;
	height: 720px;
}

#contentbox2 {
	float: left;
	width: 690px;
	height: 500px;
}

.isi1{
	padding: 15px;
}

#morelinks {
	float: left;
	width: 280px;
	height: 235px;
	margin-top: 20px;
	padding-top: 4px;
	padding: 20px;
	padding-left: 30px;
	margin-left: 140px; 
	padding-right: 35px;
	background-color:white;
	border-radius:5px;
}

#morelinks1 {
	float: left;
	width: 645px;
	height: 600px;
	margin-top: 40px;
	padding-top: 3px;
	padding-left: 30px;
	margin-left: 105px; 
	padding-right: 35px;
	background-color:white;
	border: 1px solid teal;
}

#morelinks2 {
	float: center;
	width: 1060px;
	height: 50px;
	margin-top: 30px;
	padding-top: 3px;
	margin-left: 35px;
	margin-right: 35px;
	background-color: whitesmoke;
	border: 1px solid lightgrey;
}

#morelinks3 {
	float: center;
	width: 1060px;
	height: 450px;
	margin-top: 50px;
	padding-top: 3px;
	margin-left: -1px;
	margin-right: 35px;
	background-color: white;
	border: 1px solid lightgrey;
}

.tombol {
  background: orange;
  color: aliceblue;
  padding: 7px 12px;
  border-radius: 3px;
  border: 1px solid orange;
  margin-top: 5px;
  margin-left: 2px;
 }

.tombol1 {
  background: orange;
  color: aliceblue;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid orange;
  margin-top: 5px;
  text-align: center;
 }

.tombol2 {
  background: lightgrey;
  color: black;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px 8px;
  font-family: 'cambria';
  padding: 6px;
  font-weight: bold;
  width: 140px;
  margin-left: 42px;
  margin-top: 20px;
  font-size: 15px;
}

#sidebar a:link, #sidebar a:visited, #sidebar a:active {
	text-decoration: none; 
}

#sidebar a {
	padding: 6px;
	width: 152px;
	padding-right: 17px;
	display: block;
	border-bottom: 0.7px dashed grey;
	margin: 0px 0px 1px;
	color: grey; 
	background: transparent;
}

#sidebar a:hover {
	color: blue;
}

.mat{
	background-color: #FFCC33;
	width: 688px;
	margin-top: -28px;
	border-radius: 5px;
	border: 1px solid #FFCC33;
	height: 35px;
	margin-left: -20px;
	color: teal;
}

.style{
	margin-left: 2px;
	margin-top: 6px;
}

.style1{
	margin-left: 66px;
	color: teal;
}

.style3{
	margin-left: 15px;
	color: teal;
}

.style4{
	margin-left: 44px;
	color: teal;
}

.style5{
	margin-left: 45px;
	color: teal;
	margin-top: 5px;
}

.style6{
	margin-left: 101px;
	margin-top: 5px;
}

.gar{
	margin-left: 300px;
	margin-top: -509px;
}

.garis{
	border: 0.9px solid grey;
	margin-top: 45px;
	margin-left: 25px;
	margin-bottom: 5px;
}

.garis1{
	border: 0.5px solid grey;
	margin-top: 53px;
	margin-left: 25px;
	margin-bottom: 5px;
}

.bab{
	margin-top: 25px;
}

.back{
  	color: black;
  	padding: 5px 8px;
  	font-family: 'cambria';
  	padding: 5px;
  	font-weight: bold;
  	width: 120px;
  	margin-left: 42px;
  	font-size: 15px;
	margin-top: 30px;
	background-color: orange;
	border-radius: 5px;
	border: 1px solid orange;
}

.tut{
	font-weight: normal;
	font-family: arial;
	font-size: 25px;
	margin-top: -49px;
	margin-left: 82px;
}

.tutor{
	font-weight: normal;
	font-family: arial;
	font-size: 14px;
	margin-top: 29px;
	text-align: justify;
	margin-left: 82px;
}

.tutorial{
	font-weight: normal;
	font-family: arial;
	font-size: 14px;
	margin-top: 150px;
	text-align: justify;
	margin-left: 82px;
}
