#wrapper {
	background: #F5F5CD; 
	margin: auto;
	width: 85%;
	border: 0;
}

#header {
	height: 140px;
	background-image: url("foto/hd.jpg");
}

#header-menu {
	height: 49px;
	margin-left: 153px;
	margin-right: 117px;
	width: 913px;
	background-color: white;
	border-radius: 5px;
}

#logo {
	float: right;
	margin-top: 7px;
	margin-right: 28px;
}

#logo-left {
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}

#logoname1 {
	float:left;
	width:250px;
	margin-left:5px;
	margin-top:45px;
	font:1.5em/100% 'Aharoni';
	font-weight: bold;
}

#logoname2 {
	float:left;
	width:250px;
	margin-left: -250px;
	margin-top:70px;
	font:1.5em/100% 'Aharoni';
	font-weight: bold;
}

#inner {
	clear:both;
}

#menu {
	float: left;
	margin-top: -5px;
	list-style: none;
}

#menu a:link, #menu a:visited, #menu a:active {
	padding-left: 0px;
	text-decoration: none; 
}

#menu a {
	padding: 0px 5px 8px 0px;
	margin: 0px 0px 1px;
}

#menu ul{
	list-style: none;
	padding-top: 15px;
	margin: 0px;
}

#menu li{
	display: inline-block;
	position: relative;
	float: left;
}

#menu li ul {
	display: none;
}

#menu li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}

#menu li:hover ul{
	display: block;
	position: absolute;
	background: white;
	border: 1px solid lightgrey;
}

#menu li:hover li{
	float: none;
	background-color: transparent;
}

#menu li:hover {
	background-color: #F5F5CD;
	padding-top: 7px;
	margin-top: -5px;
}

#menu li:last-child{
	border-right: none;
}

.txt {
	float: left;
	margin-left: 80px;
	margin-top: 20px;
	font-family: 'arial';
}

.txt1{
	float: left;
	margin-left: -175px;
	margin-top: 45px;
	font-family: 'arial';
	text-align: right;
}

.txt2{
	margin-top: 0px;
	margin-left: -15px;
	margin-right: 80px;
}

#contentbox {
	float: left;
	width: 690px;
	height: 750px;
}

#top{
	height: 150px;
	border: 0;
}

#content {
	float: left;
	width: 780px;
	height: 820px;
	margin-top: 8px;
	margin-left: 45px;
}

.mat{
	background-color: #FFCC33;
	width: 645px;
	margin-top: -28px;
	border-radius: 5px;
	border: 1px solid #FFCC33;
	height: 35px;
	margin-left: -20px;
	color: teal;
}

.style{
	margin-left: 2px;
	margin-top: 6px;
}

.style1{
	margin-left: 15px;
	margin-top: 30px;
}

.style3{
	margin-left: 40px;
	color: teal;
}

.style4{
	margin-left: 37px;
	color: teal;
}

.style5{
	margin-left: 55px;
	color: teal;
	margin-top: 5px;
}

.style6{
	margin-left: 105px;
	margin-top: 5px;
}

.style7{
	margin-top: 5px;
	color: teal;
}

.style8{
	margin-left: 28px;
	color: teal;
}

.style9{
	margin-left: 7px;
	color: teal;
}

.style10{
	margin-left: 20px;
	margin-top: 30px;
	color: teal;
}

#morelinks {
	float: left;
	width: 602px;
	height: 240px;
	margin-top: 40px;
	padding-top: 3px;
	padding-left: 30px;
	margin-left: 105px; 
	padding-right: 35px;
	background-color:white;
	border: 1px solid teal;
}

input[name="materi"]{
	padding: 5px;
 	border-radius: 5px;
  	font-size: 10pt;
  	margin-top: 6px;
  	margin-bottom: 6px;
  	border: 1px solid lightgrey;
}

input[name="urutan"],
input[name="bab"],
input[name="kode"]{
  padding: 5px;
  border-radius: 5px;
  font-size: 10pt;
  margin-top: 6px;
  margin-bottom: 6px; 
  border: 1px solid lightgrey;
}

textarea[name="soal"]{
  border-radius: 5px;
  font-size: 10pt;
  margin-top: -22px;
  margin-bottom: 6px; 
  margin-left: 97px; 
  border: 1px solid lightgrey;
}

textarea[name="jawaban"],
textarea[name="komentar"]{
  border-radius: 5px;
  font-size: 10pt;
  margin-top: -22px;
  margin-bottom: 6px; 
  margin-left: 79px; 
  border: 1px solid lightgrey;
}

i[class="fa fa-home"],
i[class="fa fa-book"],
i[class="fa fa-folder"],
i[class="fa fa-file"],
i[class="fa fa-exclamation-circle"],
i[class="fa fa-asterisk"]{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: -5px;
}

.tombol {
  background: orange;
  color: aliceblue;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid orange;
  margin-top: 5px;
  text-align: center;
 }

#footer {
	clear: both;
	height: 57px;
	border: 0px;
	width: 100%;
	background-color: orange;
}

#Credits {
	float:left;
	width:756px;
	margin-top:20px;
}

.isi1{
	padding: 15px;
}

#sidebar a:link, #sidebar a:visited, #sidebar a:active {
	text-decoration: none; 
}

#sidebar a {
	padding: 6px;
	width: 152px;
	padding-right: 17px;
	display: block;
	border-bottom: 0.7px dashed grey;
	margin: 0px 0px 1px;
	color: teal; 
	font-weight: bold;
	background: transparent;
}

#sidebar a:hover {
	color: blue;
}

#morelinks1 {
	float: left;
	width: 602px;
	height: 290px;
	margin-top: 50px;
	padding-top: 3px;
	padding-left: 30px;
	margin-left: 105px; 
	padding-right: 35px;
	background-color:white;
	border: 1px solid teal;
}